<header class="site-header">
    <div class="container">
        <a href="/" class="site-logo">
            <img src="/img/samhead.svg" alt="Sam from New Zealand" class="logo-image">
        </a>
        <nav class="main-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
